{% extends "layout.twig" %}

{% block title %}Erreur - CMS Headless{% endblock %}

{% block content %}
    <h1>Une erreur est survenue</h1>
    <p>{{ error }}</p>
    <a href="/" class="btn btn-primary">Retour à l'accueil</a>
{% endblock %}
