{% extends "layout.twig" %}

{% block title %}Accueil - CMS Headless{% endblock %}

{% block content %}
    <h1>Bienvenue sur notre CMS Headless</h1>
    <p>Ceci est la page d'accueil.</p>
    <a href="/admin">Accéder à l'administration</a>
{% endblock %}